<aside id="sidebar" class="sidebar" th:fragment="aside" xmlns:th="http://www.thymeleaf.org">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/dashboard}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Mi Cuenta</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Mantenimientos</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a th:href="@{/productos/listado}">
            <i class="bi bi-circle"></i><span>Productos</span>
          </a>
        </li>
        <li>
          <a th:href="@{/categorias/listado}">
            <i class="bi bi-circle"></i><span>Categorias</span>
          </a>
        </li>
        <li>
          <a th:href="@{/clientes/listado}">
            <i class="bi bi-circle"></i><span>Clientes</span>
          </a>
        </li>
        <li>
          <a th:href="@{/proveedores/listado}">
            <i class="bi bi-circle"></i><span>Proveedores</span>
          </a>
        </li>
        <li>
          <a th:href="@{/compras/listado}">
            <i class="bi bi-circle"></i><span>Compras</span>
          </a>
        </li>
        <li>
          <a th:href="@{/ventas/listado}">
            <i class="bi bi-circle"></i><span>Ventas</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
